<section id="about">
	<div>
		<h2>About</h2>
		<p>A2studio is an architectural design collaborative based in North London which focuses primarily on residential, retail and office fit-out projects.
		</p>
		<p>The practice was formed by Claudia and Kerem Aksoy in 2006 after their collective design experience in London, New York, Hamburg and Istanbul.
		</p>
		<p>The partners bring together their interior and architectural design backgrounds and see their role as assisting their clients to achieve their dream designs.
		</p>
		<img class="about" src="img/a2studio-people.jpg"/>
	</div>
</section>