<section id="projects">
	<div>
		<h2>Projects</h2>
		<div class="button-group">
			<label>
				<input type="radio" name="category" value=".filter-featured" checked="checked"><span>Featured</span></input>
			</label>
			<label>
				<input type="radio" name="category" value=".filter-interior"><span>Interior</span></input>
			</label>
			<label>
				<input type="radio" name="category" value=".filter-exterior"><span>Exterior</span></input>
			</label>
		</div>
		<div class="project-gallery">
		{% for post in site.posts %}
			<div class="item {% for category in post.categories %}filter-{{ category }} {% endfor %}">
                <a href="{{ site.baseurl }}{{ post.url }}">
                	<div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="project" src="{{ site.baseurl }}/img/portfolio/{{ post.img }}" alt="{{ post.alt }}"/>
                </a>
            </div>
		{% endfor %}
		</div>
	</div>
</section>