---
layout: default
---

<section id="project">
	<div>
		<h2>{{ page.location }}</h2>
<div style='position: relative; padding-bottom: 68%; height: 0; overflow: hidden;'><iframe id='iframe' src='https://flickrit.com/slideshowholder.php?height=67&size=big&setId={{page.flickr-setid}}&click=true&caption=on&thumbnails=1&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe></div>
		{{ content }}
	</div>
</section>